.menuItem.mobile:hover {
  background: none !important;
}

.menuItem.mobile:hover .menuActions {
  opacity: 0 !important;
  pointer-events: none !important;
}

.menuItem.mobile .menuActions {
  display: none !important;
}

.menuItem.mobile:hover .dishName {
  margin-right: 0 !important;
  white-space: normal !important;
}

.menuItem {
  position: relative;
  padding: 6px 0;
  overflow: hidden;
}

.menuItem:hover {
  background: #fafafa;
}

.menuContent {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
 
}

.dishName {
  flex: 1;
  min-width: 0;
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem:hover .dishName {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 80px;
}

.menuActions {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menuItem:hover .menuActions {
  opacity: 1;
}